name: Guncelle
on:
  workflow_dispatch:
jobs:
  run-it:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Baslat
        run: |
          chmod +x m3u8.sh
          ./m3u8.sh
      - name: Yukle
        run: |
          git config --global user.name "bot"
          git config --global user.email "bot@github.com"
          git add .
          git commit -m "update" || exit 0
          git push
